.contact {
    .container-fluid {
        background-color: $color2;
        padding: 50px 0;
        .container {
            display: block;
            flex-direction: column;


            @include sectionHeading;

            .contact-items {
                font-size: $fsize1;
                font-family: $font3;

                p {padding-bottom: 20px;}

                .contact-email {font-size: $fsize2;};

                img {
                    width: 30px;
                    padding-right: 10px;
                };
            };
        };
    };
};