.image-container {
    height: calc(660px);
    background-image: url(../img/vbar/image-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    @include gradientOverlay--blue;

    .v-container {
        
        .thumbnail-text {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 1160px;
            flex-grow: 1;
            color: $color3;
            z-index: 10;

            .thumb__fix1 {
                display: flex;
                flex-direction: row;      

                &::before {
                    content: url('../img/vbar/Play.png');
                    padding-right: 40px;

                    &:hover {
                        background: white;
                    }
                }
            
                h2{
                    font-size: $fsize4;
                    text-transform: uppercase;
                    font-weight: 300;
                    margin: 0;
                }


                p{
                    font-family: $font3;
                    font-size: $fsize1;
                    margin: 0;
                }

            }

        };

        .container {
           .thumbnail-bottom{
                position: relative;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 160px;
                margin: 0 auto;
                padding: 0;
                z-index: 10;

            @include imageHyper;
           };
        };
    };
};