@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
html {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Oswald", sans-serif;
  background: gray;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

.v-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.container1 {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.sticky {
  position: fixed;
  width: 100%;
}

.sticky .container .nav-logo {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky .container .nav-logo img {
  width: 90px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header {
  margin: 0 auto;
  width: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  background: #fff;
  z-index: 200;
}

header .container {
  height: 60px;
}

header .container .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 160px;
  height: 30px;
  z-index: 999;
}

header .container .nav-logo img {
  position: absolute;
  vertical-align: baseline;
  width: 160px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

header .container nav ul li {
  padding-left: 20px;
}

header .container nav ul li a {
  text-transform: uppercase;
  vertical-align: baseline;
  text-decoration: none;
  color: #242B45;
  font-size: 14px;
}

header .container nav ul li a:hover {
  color: #3FBEBC;
}

header .container nav ul li a {
  font-weight: 400;
}

header .container .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

header .container .lang ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

header .container .lang ul li {
  padding-right: 10px;
  padding-left: 5px;
}

header .container .lang ul li a {
  text-transform: uppercase;
  vertical-align: baseline;
  text-decoration: none;
  color: #242B45;
  font-size: 14px;
}

header .container .lang ul li a:hover {
  color: #3FBEBC;
}

header .container .lang ul li a {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

header .container .lang button {
  background: #3FBEBC;
  width: 90px;
  height: 60px;
  border-radius: 6px;
  border: 0;
  text-transform: uppercase;
  vertical-align: baseline;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
}

.image-container {
  height: calc(660px);
  background-image: url(../img/vbar/image-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.image-container::before {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: #020024;
  background: -webkit-gradient(linear, right top, left top, color-stop(45%, rgba(2, 0, 36, 0)), to(rgba(36, 43, 69, 0.908001)));
  background: linear-gradient(270deg, rgba(2, 0, 36, 0) 45%, rgba(36, 43, 69, 0.908001) 100%);
}

.image-container .v-container .thumbnail-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1160px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #ffffff;
  z-index: 10;
}

.image-container .v-container .thumbnail-text:before {
  content: url("../img/vbar/Play.png");
}

.image-container .v-container .thumbnail-text h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

.image-container .v-container .thumbnail-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}

.image-container .v-container .container .thumbnail-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 160px;
  margin: 0 auto;
  padding: 0;
  z-index: 10;
}

.image-container .v-container .container .thumbnail-bottom a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 0px solid;
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  font-family: "Work Sans", sans-serif;
}

.image-container .v-container .container .thumbnail-bottom a h3 {
  margin: 0;
  text-transform: uppercase;
}

.image-container .v-container .container .thumbnail-bottom a:hover {
  z-index: 100;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.searchbar {
  background: #242B45;
}

.searchbar .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
}

.searchbar .container input {
  width: 1050px;
  padding: 10px;
  border: 0;
  border-radius: 20px;
  font-size: 20px;
  color: #242B45;
}

.searchbar .container button {
  background: #3FBEBC;
  width: 90px;
  height: 60px;
  border-radius: 6px;
  border: 0;
  text-transform: uppercase;
  vertical-align: baseline;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
}

.searchbar .container button {
  font-size: 20px;
  width: 100px;
  height: 40px;
}

.about-text .container-fluid {
  background: url(../img/section_about/Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
}

.about-text .container-fluid::before {
  content: "";
  position: absolute;
  display: block;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: #020024;
  background: -webkit-gradient(linear, right top, left top, color-stop(45%, rgba(2, 0, 36, 0)), to(rgba(36, 43, 69, 0.908001)));
  background: linear-gradient(270deg, rgba(2, 0, 36, 0) 45%, rgba(36, 43, 69, 0.908001) 100%);
}

.about-text .container-fluid .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.about-text .container-fluid .container .headingH {
  margin-top: -30px;
}

.about-text .container-fluid .container h2 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.about-text .container-fluid .container .text-wrap {
  max-width: 760px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  z-index: 10;
}

.about-text .container-fluid .container .text-wrap p {
  color: #ffffff;
  line-height: 25px;
}

.about-text .container-fluid .container .text-wrap #lastSent {
  font-size: 24px;
}

.contact .container-fluid {
  background-color: #3FBEBC;
  padding: 50px 0;
}

.contact .container-fluid .container {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .container-fluid .container h2 {
  font-weight: 300;
  text-transform: uppercase;
  color: #242B45;
  font-size: 60px;
  margin: 0;
  padding-bottom: 30px;
}

.contact .container-fluid .container .contact-items {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.contact .container-fluid .container .contact-items p {
  padding-bottom: 20px;
}

.contact .container-fluid .container .contact-items .contact-email {
  font-size: 20px;
}

.contact .container-fluid .container .contact-items img {
  width: 30px;
  padding-right: 10px;
}

.openlayer-maps .map-fluid {
  position: relative;
}

.openlayer-maps .map-fluid::before {
  content: "";
  position: absolute;
  display: block;
  z-index: 9;
  width: 100%;
  max-width: 100%;
  height: 100%;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(33%, rgba(255, 255, 255, 0.55506)), color-stop(75%, rgba(255, 255, 255, 0.927609)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.55506) 33%, rgba(255, 255, 255, 0.927609) 75%);
}

.openlayer-maps .map-fluid h2 {
  position: absolute;
  z-index: 10;
  top: 100px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 1200px;
  font-weight: 300;
  text-transform: uppercase;
  color: #242B45;
  font-size: 60px;
}

.openlayer-maps .map-fluid .map {
  height: 400px;
  width: 100%;
  border: 0px;
}

.learning .container-fluid {
  background: url(../img/section_learning/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 50px 0;
}

.learning .container-fluid .learning__container {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.learning .container-fluid .learning__container h2 {
  font-weight: 300;
  text-transform: uppercase;
  color: #242B45;
  font-size: 60px;
  margin: 0;
  padding-bottom: 30px;
}

.learning .container-fluid .learning__container .learning-items {
  font-size: 14px;
  max-width: 760px;
  font-family: "Open Sans", sans-serif;
}

.learning .container-fluid .learning__container .learning-items p {
  padding-bottom: 20px;
}

.learning .container-fluid .learning__container .learning-items button {
  background: none;
  border: 1px solid #242B45;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #242B45;
  font-weight: bold;
  text-transform: uppercase;
  width: 120px;
  height: 40px;
}

.learning .container-fluid .learning__container .learning-items button:hover {
  background: #242B45;
  color: #ffffff;
}

.section-people .container-fluid {
  background: #F7F7F7;
  padding: 50px 0;
}

.section-people .container-fluid .container {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-people .container-fluid .container .tegijad-title {
  font-weight: 300;
  text-transform: uppercase;
  color: #242B45;
  font-size: 60px;
  margin: 0;
  padding-bottom: 30px;
}

.section-people .container-fluid .container .card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.section-people .container-fluid .container .card__container .card {
  width: 240px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.section-people .container-fluid .container .card__container .card .modalButton {
  cursor: pointer;
}

.section-people .container-fluid .container .card__container .card .card__title {
  font-family: inherit;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

.section-people .container-fluid .container .card__container .card .card__body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.section-people .container-fluid .container .modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
  background: rgba(91, 89, 89, 0.449);
}

.section-people .container-fluid .container .modal .close {
  float: right;
  cursor: pointer;
}

.section-people .container-fluid .container .modal .modal__container {
  position: absolute;
  width: 1120px;
  border: 1px solid rgba(128, 128, 128, 0.176);
  border-radius: 10px;
  padding: 40px;
  background: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-people .container-fluid .container .modal .modal__container .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 60px;
}

.section-people .container-fluid .container .modal .modal__container .modal__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
}

.section-people .container-fluid .container .modal .modal__container .modal__heading .modal__image {
  margin-right: 40px;
}

.section-people .container-fluid .container .modal .modal__container .modal__heading .modal__image img {
  width: 100%;
}

.section-people .container-fluid .container .modal .modal__container .modal__heading .modal__content h2 {
  font-weight: 300;
  text-transform: uppercase;
  color: #242B45;
  font-size: 60px;
  margin: 0;
  padding-bottom: 30px;
}

.section-people .container-fluid .container .modal .modal__container .modal__heading .modal__content h2 {
  padding-bottom: 0;
}

.section-people .container-fluid .container .modal .modal__container .modal__heading .modal__content .modal__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-people .container-fluid .container .modal .modal__container .modal__heading .modal__content .modal__body .modal__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-people .container-fluid .container .modal .modal__container .modal__heading .modal__content .modal__body .modal__contact img {
  width: 20px;
}

.section-people .container-fluid .container .modal .modal__container .modal__heading .modal__content .modal__body .modal__contact p {
  padding-right: 40px;
}

.section-people .container-fluid .container .modal .modal__container .modal__heading .modal__content .modal__body .modal__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section-people .container-fluid .container .modal .modal__container .modal__heading .modal__content .modal__body .modal__info .modal__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-people .container-fluid .container .modal .modal__container .modal__heading .modal__content .modal__body .modal__info .modal__text h3, .section-people .container-fluid .container .modal .modal__container .modal__heading .modal__content .modal__body .modal__info .modal__text p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.partners .container-fluid {
  background: #fff;
  padding: 50px 0;
}

.partners .container-fluid .container {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partners .container-fluid .container h2 {
  font-weight: 300;
  text-transform: uppercase;
  color: #242B45;
  font-size: 60px;
  margin: 0;
  padding-bottom: 30px;
}

.partners .container-fluid .container .partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.partners .container-fluid .container .partners-list ul {
  width: 100%;
  list-style-type: none;
  -webkit-columns: 4;
          columns: 4;
}

.partners .container-fluid .container .partners-list ul li {
  padding: 10px;
}

.partners .container-fluid .container .partners-list ul a {
  text-decoration: none;
  color: #242B45;
}

.partners .container-fluid .container h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.partners .container-fluid .container .supporters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners .container-fluid .container .supporters-list .supporter {
  width: 240px;
  padding-bottom: 40px;
}

.partners .container-fluid .container .supporters-list .supporter img {
  max-width: 100%;
}

.partners .container-fluid .container .supporters-list .supporter h3 {
  text-transform: none;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.support .container-fluid {
  background: url(../img/section-support/support-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.support .container-fluid .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.support .container-fluid .container .support-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
}

.support .container-fluid .container .support-1 .support-text h2 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 60px;
  color: #242B45;
}

.support .container-fluid .container .support-1 .support-text .headingH {
  margin-top: -30px;
}

.support .container-fluid .container .support-1 .support-text p {
  font-family: "Open Sans", sans-serif;
  color: #242B45;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 30px;
}

.support .container-fluid .container .support-1 .support-text button {
  background: #3FBEBC;
  width: 90px;
  height: 60px;
  border-radius: 6px;
  border: 0;
  text-transform: uppercase;
  vertical-align: baseline;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  font-family: inherit;
}

.support .container-fluid .container .support-1 .support-text button {
  margin-top: 40px;
}

.support .container-fluid .container .support-2 .support-card {
  width: 320px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.support .container-fluid .container .support-2 .support-card img {
  max-width: 50%;
}

.support .container-fluid .container .support-2 .support-card p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.support .container-fluid .container .support-2 .support-card a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #3FBEBC;
}

.support .container-fluid .container .support-2 .support-bank h4 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 60px;
  margin-bottom: 0;
  padding: 0;
}

.support .container-fluid .container .support-2 .support-bank p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.share-container {
  height: 100px;
}

.share-container .share-btn {
  color: #fff;
  text-align: center;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  font-size: 28px;
  line-height: 60px;
  background-color: #3fbebc;
  -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.share-container .share-btn .fas {
  display: inline-block;
}

.share-container .share-btn .fas::before {
  content: "\f1e0";
  font-family: "Font Awesome 5 Free";
}

footer {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  padding: 10px 0px;
  height: 150px;
  background: #242B45;
}

footer .container {
  background: #242B45;
}

footer .container .footer-logo img {
  width: 100%;
  height: 104px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer .container .contact-info {
  padding-left: 50px;
}

footer .container .contact-info h1 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 200;
  color: #ffffff;
}

footer .container .contact-info .contact a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}

footer .container .social {
  margin-left: auto;
}

body.modal-open {
  overflow: hidden;
}
/*# sourceMappingURL=styles.css.map */