<section class="about-text">
    <div class="container-fluid">
        
        <div class="container headText">
            <h2>ME KÕIK PÄRIME</h2>
            <h2 class="headingH"><strong>OMA KULTUURI</strong></h2>
        </div>
        <div class="container">
    
            <div class="text-wrap">
                <p>Igaühel meist on oma lugu ja oma roll teiste lugudes. Kõik me oleme kellegi lapsed ja mingi piirkonna elanikud, kõik me pärime oma kultuuri, kodukoha ja perekonna pärandi. Eesti lugu, kogu me lugu, moodustub erinevate Eesti inimeste lugudest.</p>
                <p>Need lood ei edasta minevikust täielikku pilti, vaid annavad seda edasi läbi rääkija objektiivi, mis võib olla vägagi erinev meie enda omast. Neid lugusid kuulates kogeme maailma teistsugusel, vahest harjumatul viisil. Pealtnäha olemegi erinevad, kordumatud. See, mis aga peitub igas inimeses sügaval sisimas, on meil ühine.</p>
                <p>Kogu Me Lugu on algatus koguda, uurida ja jagada Eesti perede lugusid. Algatuse raames kogutakse, talletatakse ja levitatakse Nõukogude ja Saksa okupatsioonide ajal Eestis elanud, nimetatud võimude eest Eestist põgenenud või nende tegevuse tulemusena Eestisse sattunud inimeste ning nende järeltulijate mälestusi ja elulugusid.</p>
                <p>Me Lugu projekti algataja oli 2008. aastal Tallinnas asutatud Sihtasutus Unitas, mis keskendus ajaloohariduse ja inimõiguste kultuuri arendamisele. Ta kuulus Euroopa Mälu ja Süüme Koostöökogu asutajaliikmete hulka ning tema eesmärk oli totalitaarsete režiimide ja ideoloogiate inimvaenulikkuse teadvustamine ja nende kuritegude rahvusvahelise hukkamõistmise taotlemine. 2017. aastal ühines Sihtasutus Unitas Eesti Mälu Instituudiga.</p>

                <p id="lastSent">Iga lugu on omapärane, samas osa suuremast loost. Iga lugu on Eesti lugu ja ühtlasi kogu inimkonna lugu.</p>
            </div>
        </div>
    </div>
</section>