<section class="contact">
    <div class="container-fluid">
        <div class="container">
             <h2 class="contact-title">Võtke meiega ühendust</h2>
             <div class="contact-items">
                 <p>Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                 <p class="contact-email"><img src="./img/envelope.png" alt=""> info@kogumelugu.ee</p>
             </div>
        </div>
    </div>
</section>