<footer>
    <div class="container">
        
        <div class="footer-logo">
            <img src="./img/footer/EMI.png" alt="">
        </div>

        <div class="contact-info">
            <h1>Eesti mälu instituut</h1>

            <div class="contact">
                <img src="./img/footer/envelope.png" alt="">
                <a href="#">info@mnemosyne.ee</a>
            </div>

            <div class="contact">
                <img src="./img/footer/phone.png" alt="">
                <a href="#">(+372) 6645 039</a>
            </div>

            <div class="contact">
                <img src="./img/footer/map-marker.png" alt="">
                <a href="#">Suur-Ameerika 12-39, 10119 Tallinn</a>
            </div>
        </div>

        <div class="social">
            <a href="#"><img src="./img/footer/facebook.png" alt=""></a>
            <a href="#"><img src="./img/footer/instagram.png" alt=""></a>
            <a href="#"><img src="./img/footer/youtube.png" alt=""></a>
        </div>
    </div>
</footer>