<header id="headerSticky">
    <div class="container">
        <a href="index.php">
        <div class="nav-logo">
            <img id="nav-logo" src="./img/header/logo.png" alt="">
        </div>
        </a>
        <nav>
            <div class="menu">
                <ul>
                    <li><a href="video_list.php">Videoteek</a></li>
                    <li><a href="index.php#map-cont">Kaart</a></li>
                    <li><a href="tags.php">Teemad</a></li>
                    <li><a href="index.php#learn-cont">Õppematerjalid</a></li>
                    <li><a href="index.php#about-txt">Tutvustus</a></li>
                    <li><a href="index.php#tegijad">Tegijad</a></li>
                    <li><a href="index.php#support-container">Toeta</a></li>
                </ul>
            </div>
        </nav>

        <div class="lang">
            <ul class="lang__bar">
                <li><a href="#">ENG</a></li>
                <li><a href="#">RUS</a></li>
            </ul>
            <button onclick="location.href='index.php#support-container'">Toetan</button>
        </div>

        <div class="mobile">
        <button class="btn mobile-btn" onclick="openNav()"><i class="fas fa-bars"></i></button>
        </div>

        <div id="mobileMenu" class="mobile-menu">
            <a href="javascript:void(0)" class="close-menu" onclick="closeNav()">&times;</a>
            <ul>
                <li><a href="video_list.php">Videoteek</a></li>
                <li><a href="index.php#map-cont">Kaart</a></li>
                <li><a href="tags.php">Teemad</a></li>
                <li><a href="index.php#learn-cont">Õppematerjalid</a></li>
                <li><a href="index.php#about-txt">Tutvustus</a></li>
                <li><a href="index.php#tegijad">Tegijad</a></li>
                <li><a href="index.php#support-container">Toeta</a></li>
            </ul>
        </div>

    </div>
</header>