<div class="image-container container-fluid">
    <div class="v-container container">
        <div class="thumbnail-text">
            <div class="thumb__fix1">
            <div class="thumb__fix">
                <h2>Tiiu Teesalu</h2>
                <p>Elu sõja-aastatel Saksamaa põgenikelaagrites</p>
            </div>
            </div>
        </div>
        
        <div class="container">
            <div class="thumbnail-bottom">
                <a href="video_detail.php" style="background: url('../img/vbar/image-1.png') no-repeat center center/cover;">
                    <div class="text">
                    <h3>Tõnu Jürvetson</h3>
                    <p>Konstantin Pätsi lähikondlaste põgenemistee läände</p>
                    </div>
                </a>
                <a href="video_detail.php" style="background: url('../img/vbar/image-2.png') no-repeat center center/cover;">
                    <div class="text">
                    <h3>Kalju Mätik</h3>
                    <p>Täispikk intervjuu</p>
                    </div>
                </a>
                <a href="video_detail.php" style="background: url('../img/vbar/image-3.png') no-repeat center center/cover;">
                    <div class="text">
                    <h3>Linda Vaike Malmgren</h3>
                    <p>Eesti juurte väärtustamine sugulaste põgenemislugude taustal</p>
                    </div>
                </a>
                <a href="video_detail.php" style="background: url('../img/vbar/image-4.png') no-repeat center center/cover;">
                    <div class="text">
                    <h3>Mi Mi Po Hti</h3>
                    <p>Videolugu</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>