<section class="page-cont container-fluid">
    <div class="container">
        <div class="page__heading"><h2>Õppematerjalid</h2></div>
        <div class="materials__thumbnails">
            <article class="video--cont video--materials" style="background-image: url(./img/section_video/video_9.png);">
                <a href="material_copy.html">
                <div class="video-text">
                    <h2>NSVL ja kommunistlik süsteem – Eesti NSV</h2>
                </div>
                </a>    
            </article>

            <article class="video--cont video--materials" style="background-image: url(./img/section_video/video_9.png);">
                <a href="material_copy.html">
                <div class="video-text">
                    <h2>NSVL ja kommunistlik süsteem – Eesti NSV</h2>
                </div>
                </a>    
            </article>
            
            <article class="video--cont video--materials" style="background-image: url(./img/section_video/video_9.png);">
                <a href="material_copy.html">
                <div class="video-text">
                    <h2>NSVL ja kommunistlik süsteem – Eesti NSV</h2>
                </div>
                </a>    
            </article>

            <article class="video--cont video--materials" style="background-image: url(./img/section_video/video_9.png);">
                <a href="material_copy.html">
                <div class="video-text">
                    <h2>NSVL ja kommunistlik süsteem – Eesti NSV</h2>
                </div>
                </a>    
            </article>

            <article class="video--cont video--materials" style="background-image: url(./img/section_video/video_9.png);">
                <a href="material_copy.html">
                <div class="video-text">
                    <h2>NSVL ja kommunistlik süsteem – Eesti NSV</h2>
                </div>
                </a>    
            </article>

            <article class="video--cont video--materials" style="background-image: url(./img/section_video/video_9.png);">
                <a href="material_copy.html">
                <div class="video-text">
                    <h2>NSVL ja kommunistlik süsteem – Eesti NSV</h2>
                </div>
                </a>    
            </article>

            <article class="video--cont video--materials" style="background-image: url(./img/section_video/video_9.png);">
                <a href="material_copy.html">
                <div class="video-text">
                    <h2>NSVL ja kommunistlik süsteem – Eesti NSV</h2>
                </div>
                </a>    
            </article>

            <article class="video--cont video--materials" style="background-image: url(./img/section_video/video_9.png);">
                <a href="material_copy.html">
                <div class="video-text">
                    <h2>NSVL ja kommunistlik süsteem – Eesti NSV</h2>
                </div>
                </a>    
            </article>

            <article class="video--cont video--materials" style="background-image: url(./img/section_video/video_9.png);">
                <a href="material_copy.html">
                <div class="video-text">
                    <h2>NSVL ja kommunistlik süsteem – Eesti NSV</h2>
                </div>
                </a>    
            </article>

            
        </div>
        
    </div>
</section>