<section class="page-cont container-fluid">
    <div class="container">
        <div class="page__heading"><h2>Õppematerjalid</h2></div>
        
        <div class="materials__info">
            <div class="materials__text text-wrap">
                <h3>NSVL ja kommunistlik süsteem – Eesti NSV</h3>
                <p>Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.</p>
                <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            </div>

            <div class="materials__image">
                <img src="/img/section_materials/Rectangle.png" alt="">
            </div>
        </div>

        <div class="materials__download">
            <h3>Materjalid</h3>
            <p><a href="#"><strong>Metoodika.pdf</strong></a>  (352KB, PDF)</p>
            <p><a href="#"><strong>Metoodika.pdf</strong></a> (352KB, PDF)</p>
        </div>
    </div>
</section>