<section class="partners">
    <div class="container-fluid">
        <div class="container">
            <h2>Koostööpartnerid</h2>
            <div class="partners-list">
                <ul>
                    <li><a href="#">Ajapaik</a></li>
                    <li><a href="#">Black Ribbon Day Foundation</a></li>
                    <li><a href="#">Eesti Diasporaa Akadeemia</a></li>
                    <li><a href="#">Eesti Mälu Instituut</a></li>
                    <li><a href="#">Eesti Vabariik 100</a></li>
                    <li><a href="#">Georg Eckert Institute</a></li>
                    <li><a href="#">Kaasaegse Kunsti Eesti Keskus</a></li>
                    <li><a href="#">Konrad Adenaueri Sihtasutus</a></li>
                    <li><a href="#">Naiskodukaitse</a></li>
                    <li><a href="#">Reklaamiagentuur MUST</a></li>
                    <li><a href="#">Stanfordi Ülikooli Raamatukogu</a></li>
                    <li><a href="#">VEMU/Eesti Õppetöö Keskus</a></li>
                    <li><a href="#">Eva Sepping</a></li>
                    <li><a href="#">Avatud Vabariik</a></li>
                    <li><a href="#">EUROCLIO</a></li>
                    <li><a href="#">Eesti Kirjandusmuuseum</a></li>
                    <li><a href="#">Eesti Rahva Muuseum</a></li>
                    <li><a href="#">Entusiastid OÜ</a></li>
                    <li><a href="#">Hooandja</a></li>
                    <li><a href="#">Kilomeeter Skulptuuri</a></li>
                    <li><a href="#">MTÜ Tulipisar</a></li>
                    <li><a href="#">Okupatsioonide Muuseum</a></li>
                    <li><a href="#">Ruudu Rahumaru</a></li>
                    <li><a href="#">Tallinna Ülikool</a></li>
                    <li><a href="#">Anna Hints</a></li>
                    <li><a href="#">Gustav Liblik</a></li>
                    <li><a href="#">Baltic Heritage Network</a></li>
                    <li><a href="#">Education Development Centre</a></li>
                    <li><a href="#">Eesti Kunstimuuseum</a></li>
                    <li><a href="#">Eesti Rahvusringhääling</a></li>
                    <li><a href="#">Euroopa Parlamendi Saadiku Tunne Kelami Büroo</a></li>
                    <li><a href="#">Inimõiguste Instituut</a></li>
                    <li><a href="#">Kino Artis</a></li>
                    <li><a href="#">Murtud Rukkilille Ühing</a></li>
                    <li><a href="#">Rahvusarhiiv</a></li>
                    <li><a href="#">Saksamaa Liitvabariigi Suursaatkond</a></li>
                    <li><a href="#">Tartu Ülikool</a></li>
                    <li><a href="#">Edward von Lõngus</a></li>
                    <li><a href="#">Ian Concannon</a></li>  
                </ul>
            </div>

            <h3>Suurtoetajad</h3>
            <div class="supporters-list">
                <div class="supporter">
                    <h3>Amalfi</h3>
                </div>

                <div class="supporter">
                    <img src="/img/section-partners/EKRY.png" alt="">
                </div>

                <div class="supporter">
                    <img src="/img/section-partners/Erasmus.png" alt="">
                </div>

                <div class="supporter">
                    <img src="/img/section-partners/ERC.png" alt="">
                </div>

                <div class="supporter">
                    <img src="/img/section-partners/HaridusMin.png" alt="">
                </div>
            </div>

            <div class="supporters-list">
                <div class="supporter">
                    <img src="/img/section-partners/KaitseMin.png" alt="">
                </div>

                <div class="supporter">
                    <h3>Kistler-Ritso Sihtasutus</h3>
                </div>

                <div class="supporter">
                    <img src="/img/section-partners/KultMin.png" alt="">
                </div>

                <div class="supporter">
                    <img src="/img/section-partners/SiseMin.png" alt="">
                </div>
            </div>

        </div>    
    </div>
</section>