<section id="tegijad" class="section-people">
    <div class="container-fluid">
        <div class="container">
            <h2 class="tegijad-title">Tegijad</h2>
            <div class="card__container">
                
                <div id="modal" class="modal">
                    <div class="overlay">
                        <div class="modal__container">
                            <span id="close" class="close">&times;</span>
            
                            <div class="modal__heading">
                                <div class="modal__image">
                                    <img src="img/modal/image-1.png" alt="">
                                </div>
                                
                                <div class="modal__content">
                                    <h2>Mari Mets</h2>
            
                                        <div class="modal__body">
                                            <div class="modal__contact">
                                                <p><strong>Juhataja</strong></p>
                                                <p><img src="/img/envelope.png" alt=""> mari.mets@kogumelugu.ee</p>
                                                <p>+372 567 89 123</p>
                                            </div>
            
                                            <div class="modal__info">
                                                <div class="modal__text">
                                                    <h3>Haridus</h3>
                                                    <p>Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
                                                </div>
            
                                                <div class="modal__text">
                                                    <h3>Hobid</h3>
                                                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus.</p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div id="modalBtn" class="modalButton">
                        <img class="card__image" src="/img/section-people/Oval 3.png" alt="">
                        <h4 class="card__title">Mari Mets</h4>
                    </div>

                    <div class="card__body">
                        <p><strong>Juhataja</strong></p>
                        <p>mari.mets@kogumelugu.ee</p>
                        <p>+372 567 89 123</p>
                    </div>
                </div>

                <div class="card">
                    <div id="modalBtn" class="modalButton">
                        <img class="card__image" src="/img/section-people/Oval 2.png" alt="">
                        <h4 class="card__title">Mari Mets</h4>
                    </div>

                    <div class="card__body">
                        <p><strong>Juhataja</strong></p>
                        <p>mari.mets@kogumelugu.ee</p>
                        <p>+372 567 89 123</p>
                    </div>
                </div>

                <div class="card">
                    <div id="modalBtn" class="modalButton">
                        <img class="card__image" src="/img/section-people/Oval 3.png" alt="">
                        <h4 class="card__title">Mari Mets</h4>
                    </div>

                    <div class="card__body">
                        <p><strong>Juhataja</strong></p>
                        <p>mari.mets@kogumelugu.ee</p>
                        <p>+372 567 89 123</p>
                    </div>
                </div>

                <div class="card">
                    <div id="modalBtn" class="modalButton">
                        <img class="card__image" src="/img/section-people/Oval 2.png" alt="">
                        <h4 class="card__title">Mari Mets</h4>
                    </div>

                    <div class="card__body">
                        <p><strong>Juhataja</strong></p>
                        <p>mari.mets@kogumelugu.ee</p>
                        <p>+372 567 89 123</p>
                    </div>
                </div>

                <div class="card">
                    <div id="modalBtn" class="modalButton">
                        <img class="card__image" src="/img/section-people/Oval 3.png" alt="">
                        <h4 class="card__title">Mari Mets</h4>
                    </div>

                    <div class="card__body">
                        <p><strong>Juhataja</strong></p>
                        <p>mari.mets@kogumelugu.ee</p>
                        <p>+372 567 89 123</p>
                    </div>
                </div>

                <div class="card">
                    <div id="modalBtn" class="modalButton">
                        <img class="card__image" src="/img/section-people/Oval 2.png" alt="">
                        <h4 class="card__title">Mari Mets</h4>
                    </div>

                    <div class="card__body">
                        <p><strong>Juhataja</strong></p>
                        <p>mari.mets@kogumelugu.ee</p>
                        <p>+372 567 89 123</p>
                    </div>
                </div>

                
            </div>   
        </div>
    </div>
</section>