<section class="section__tab container-fluid">
    <div class="container">
        <div class="tab__container">
            <div class="tab">
                <button class="tablinks active" onclick="openTab(event, 'tab1')">Kõik teemad</button>
                <button class="tablinks" onclick="openTab(event, 'tab2')">Ajalugu</button>
                <button class="tablinks" onclick="openTab(event, 'tab3')">Inimõigused</button>
            </div>
        

            <div id="tab1" class="tabcontent active">
                <div class="container">
                      <ul class="tags--boxed-list">
                          <li>
                            <div><a href="#"><h2>Ajalugu <i class="fas fa-chevron-right"></i></h2></a></div>
                            <ul>
                                <li>
                                    <div><a href="#"><h3>Teine maailmasõda <i class="fas fa-chevron-right"></i></h3></a></div>

                                    <ul>
                                        <li>
                                            <div>
                                                <a href=""><h4>Eesti Teises maailmasõjas <i class="fas fa-chevron-right"></i></h4></a>
                                            </div>
                                        </li>

                                        <ul>
                                            <li><div><a href="#"><h5>Saksa okupatsioon <i class="fas fa-chevron-right"></i></h5></a></div></li>

                                            <ul>
                                                <li><div><a href="#"><h6>Eesti Leegion <i class="fas fa-chevron-right"></i></h6></a></div></li>
                                            </ul>
                                        </ul>
                                    </ul>
                                </li>
                            </ul>
                          </li>
                      </ul>

                      <ul class="tags--boxed-list">
                          <li>
                              <div><a href="#"><h2>Inimõigused <i class="fas fa-chevron-right"></i></h2></a></div>
                              <ul>
                                    <li><div><a href="#"><h3>Diskrimineerimine ja sallimatus <i class="fas fa-chevron-right"></i></h3></a></div></li>
                                    <li><div><a href="#"><h3>Lapsed <i class="fas fa-chevron-right"></i></h3></a></div></li>
                                    <li><div><a href="#"><h3>Ränne <i class="fas fa-chevron-right"></i></h3></a></div></li>
                                    <ul>
                                        <li><div><a href="#"><h4>Immigrant <i class="fas fa-chevron-right"></i></h4></a></div></li>
                                        <li><div><a href="#"><h4>Keelebarjäär <i class="fas fa-chevron-right"></i></h4></a></div></li>
                                        <li><div><a href="#"><h4>Õigus otsida varjupaika teistes riikides <i class="fas fa-chevron-right"></i></h4></a></div></li>
                                        <li><div><a href="#"><h4>Pagulane <i class="fas fa-chevron-right"></i></h4></a></div></li>
                                        <li><div><a href="#"><h4>Põgenikelaager <i class="fas fa-chevron-right"></i></h4></a></div></li>
                                        <li><div><a href="#"><h4>Sõjapõgenik <i class="fas fa-chevron-right"></i></h4></a></div></li>
                                        <li><div><a href="#"><h4>Sõda ja terrorism <i class="fas fa-chevron-right"></i></h4></a></div></li>

                                        <ul>
                                            <li><div><a href="#"><h5>Enesekaitse <i class="fas fa-chevron-right"></i></h5></a></div></li>
                                            <li><div><a href="#"><h5>Inimsusevastane kuritegu <i class="fas fa-chevron-right"></i></h5></a></div></li>
                                        </ul>
                                    </ul>
                              </ul>
                          </li>
                      </ul>
                </div>
            </div>

            <div id="tab2" class="tabcontent">
                Tab2
            </div>

            <div id="tab3" class="tabcontent">
                tab1
            </div>
        </div>
    </div>
</section>
