<section class="section__tab container-fluid">
    <div class="container">
        <div class="tab__container">
            <div class="tab">
                <button class="tablinks active" onclick="openTab(event, 'tab1')">Kõik teemad</button>
                <button class="tablinks" onclick="openTab(event, 'tab2')">Ajalugu</button>
                <button class="tablinks" onclick="openTab(event, 'tab3')">Inimõigused</button>
            </div>
        

            <div id="tab1" class="tabcontent active">
                <div class="container">
                    <ul class="tags--button">
                        <div>
                            <h2 class="tag__List--heading">Lorem Ligula</h2>
                            <button class="button__white--purple">Heino Noor</button>
                            <button class="button__white--purple">Quam Cras</button>
                            <button class="button__white--purple">Euismod</button>
                            <button class="button__white--purple">Ipsum Commodo</button>
                            <button class="button__white--purple">Parturient</button>
                            <button class="button__white--purple">Parturient</button>
                            <button class="button__white--purple">Heino Noor</button>
                            <button class="button__white--purple">Quam Cras</button>
                            <button class="button__white--purple">Euismod</button>
                            <button class="button__white--purple">Ipsum Commodo</button>
                            <button class="button__white--purple">Parturient</button>
                            <button class="button__white--purple">Parturient</button>
                            <button class="button__white--purple">Heino Noor</button>
                            <button class="button__white--purple">Quam Cras</button>
                            <button class="button__white--purple">Euismod</button>
                            <button class="button__white--purple">Ipsum Commodo</button>
                            <button class="button__white--purple">Parturient</button>
                            <button class="button__white--purple">Parturient</button>
                        </div>
                        
                        <li class="first">
                            <div>
                                <h3 class="tag__List--heading">Lorem Ligula</h3>
                                <button class="button__white--orange">Heino Noor</button>
                                <button class="button__white--orange">Quam Cras</button>
                                <button class="button__white--orange">Euismod</button>
                                <button class="button__white--orange">Ipsum Commodo</button>
                                <button class="button__white--orange">Parturient</button>
                                <button class="button__white--orange">Parturient</button>
                                <button class="button__white--orange">Heino Noor</button>
                                <button class="button__white--orange">Quam Cras</button>
                                <button class="button__white--orange">Euismod</button>
                                <button class="button__white--orange">Ipsum Commodo</button>
                                <button class="button__white--orange">Parturient</button>
                                <button class="button__white--orange">Parturient</button>
                                <button class="button__white--orange">Heino Noor</button>
                                <button class="button__white--orange">Quam Cras</button>
                                <button class="button__white--orange">Euismod</button>
                                <button class="button__white--orange">Ipsum Commodo</button>
                                <button class="button__white--orange">Parturient</button>
                                <button class="button__white--orange">Parturient</button>
                            </div>

                            <ul>
                                <li class="second">
                                    <div>
                                        <h4 class="tag__List--heading">Lorem Ligula</h4>
                                        <button class="button__white--cyan">Heino Noor</button>
                                        <button class="button__white--cyan">Quam Cras</button>
                                        <button class="button__white--cyan">Euismod</button>
                                        <button class="button__white--cyan">Ipsum Commodo</button>
                                        <button class="button__white--cyan">Parturient</button>
                                        <button class="button__white--cyan">Parturient</button>
                                        <button class="button__white--cyan">Heino Noor</button>
                                        <button class="button__white--cyan">Quam Cras</button>
                                        <button class="button__white--cyan">Euismod</button>
                                        <button class="button__white--cyan">Ipsum Commodo</button>
                                        <button class="button__white--cyan">Parturient</button>
                                        <button class="button__white--cyan">Parturient</button>
                                        <button class="button__white--cyan">Heino Noor</button>
                                        <button class="button__white--cyan">Quam Cras</button>
                                        <button class="button__white--cyan">Euismod</button>
                                        <button class="button__white--cyan">Ipsum Commodo</button>
                                        <button class="button__white--cyan">Parturient</button>
                                        <button class="button__white--cyan">Parturient</button>
                                    </div>

                                    <ul>
                                        <li class="third">
                                            <div>
                                                <h5 class="tag__List--heading">Lorem Ligula</h5>
                                                <button class="button__white--red">Heino Noor</button>
                                                <button class="button__white--red">Quam Cras</button>
                                                <button class="button__white--red">Euismod</button>
                                                <button class="button__white--red">Ipsum Commodo</button>
                                                <button class="button__white--red">Parturient</button>
                                                <button class="button__white--red">Parturient</button>
                                                <button class="button__white--red">Heino Noor</button>
                                                <button class="button__white--red">Quam Cras</button>
                                                <button class="button__white--red">Euismod</button>
                                                <button class="button__white--red">Ipsum Commodo</button>
                                                <button class="button__white--red">Parturient</button>
                                                <button class="button__white--red">Parturient</button>
                                                <button class="button__white--red">Heino Noor</button>
                                                <button class="button__white--red">Quam Cras</button>
                                                <button class="button__white--red">Euismod</button>
                                                <button class="button__white--red">Ipsum Commodo</button>
                                                <button class="button__white--red">Parturient</button>
                                                <button class="button__white--red">Parturient</button>
                                            </div>

                                            <ul>
                                                <li class="fourth">
                                                    <div>
                                                        <h6 class="tag__List--heading">Lorem Ligula</h6>
                                                        <button class="button__white--blue">Heino Noor</button>
                                                        <button class="button__white--blue">Quam Cras</button>
                                                        <button class="button__white--blue">Euismod</button>
                                                        <button class="button__white--blue">Ipsum Commodo</button>
                                                        <button class="button__white--blue">Parturient</button>
                                                        <button class="button__white--blue">Parturient</button>
                                                        <button class="button__white--blue">Heino Noor</button>
                                                        <button class="button__white--blue">Quam Cras</button>
                                                        <button class="button__white--blue">Euismod</button>
                                                        <button class="button__white--blue">Ipsum Commodo</button>
                                                        <button class="button__white--blue">Parturient</button>
                                                        <button class="button__white--blue">Parturient</button>
                                                        <button class="button__white--blue">Heino Noor</button>
                                                        <button class="button__white--blue">Quam Cras</button>
                                                        <button class="button__white--blue">Euismod</button>
                                                        <button class="button__white--blue">Ipsum Commodo</button>
                                                        <button class="button__white--blue">Parturient</button>
                                                        <button class="button__white--blue">Parturient</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="second">
                                    <div>
                                        <h4 class="tag__List--heading">Lorem Ligula</h4>
                                        <button class="button__white--red">Heino Noor</button>
                                        <button class="button__white--red">Quam Cras</button>
                                        <button class="button__white--red">Euismod</button>
                                        <button class="button__white--red">Ipsum Commodo</button>
                                        <button class="button__white--red">Parturient</button>
                                        <button class="button__white--red">Parturient</button>
                                        <button class="button__white--red">Heino Noor</button>
                                        <button class="button__white--red">Quam Cras</button>
                                        <button class="button__white--red">Euismod</button>
                                        <button class="button__white--red">Ipsum Commodo</button>
                                        <button class="button__white--red">Parturient</button>
                                        <button class="button__white--red">Parturient</button>
                                        <button class="button__white--red">Heino Noor</button>
                                        <button class="button__white--red">Quam Cras</button>
                                        <button class="button__white--red">Euismod</button>
                                        <button class="button__white--red">Ipsum Commodo</button>
                                        <button class="button__white--red">Parturient</button>
                                        <button class="button__white--red">Parturient</button>
                                    </div>

                                    <ul>
                                        <li class="third">
                                            <div>
                                                <h5 class="tag__List--heading">Lorem Ligula</h5>
                                                <button class="button__white--cyan">Heino Noor</button>
                                                <button class="button__white--cyan">Quam Cras</button>
                                                <button class="button__white--cyan">Euismod</button>
                                                <button class="button__white--cyan">Ipsum Commodo</button>
                                                <button class="button__white--cyan">Parturient</button>
                                                <button class="button__white--cyan">Parturient</button>
                                                <button class="button__white--cyan">Heino Noor</button>
                                                <button class="button__white--cyan">Quam Cras</button>
                                                <button class="button__white--cyan">Euismod</button>
                                                <button class="button__white--cyan">Ipsum Commodo</button>
                                                <button class="button__white--cyan">Parturient</button>
                                                <button class="button__white--cyan">Parturient</button>
                                                <button class="button__white--cyan">Heino Noor</button>
                                                <button class="button__white--cyan">Quam Cras</button>
                                                <button class="button__white--cyan">Euismod</button>
                                                <button class="button__white--cyan">Ipsum Commodo</button>
                                                <button class="button__white--cyan">Parturient</button>
                                                <button class="button__white--cyan">Parturient</button>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <div>
                            <h2 class="tag__List--heading">Nibh Risus</h2>
                            <button class="button__white--purple">Heino Noor</button>
                            <button class="button__white--purple">Quam Cras</button>
                            <button class="button__white--purple">Euismod</button>
                            <button class="button__white--purple">Ipsum Commodo</button>
                            <button class="button__white--purple">Parturient</button>
                            <button class="button__white--purple">Parturient</button>
                            <button class="button__white--purple">Heino Noor</button>
                            <button class="button__white--purple">Quam Cras</button>
                            <button class="button__white--purple">Euismod</button>
                            <button class="button__white--purple">Ipsum Commodo</button>
                            <button class="button__white--purple">Parturient</button>
                            <button class="button__white--purple">Parturient</button>
                            <button class="button__white--purple">Heino Noor</button>
                            <button class="button__white--purple">Quam Cras</button>
                            <button class="button__white--purple">Euismod</button>
                            <button class="button__white--purple">Ipsum Commodo</button>
                            <button class="button__white--purple">Parturient</button>
                            <button class="button__white--purple">Parturient</button>
                        </div>
                    </ul>
                </div>
            </div>

            <div id="tab2" class="tabcontent">
                Tab2
            </div>

            <div id="tab3" class="tabcontent">
                tab1
            </div>
        </div>
    </div>
</section>