<div class="share-container">
    <div id="socialBtn" class="social__btn">
        <a class="tumblr" href="http://www.tumblr.com"><i class="fab fa-tumblr-square"></i></a>
        <a class="twitter" href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
        <a class="facebook" href="htto://www.facebook.com"><i class="fab fa-facebook"></i></a>
    </div>

    <div class="share-btn">
        <i id="share" class="fas fa-share-alt"></i>
        <i id="times" class="fas fa-times"></i>
    </div>
</div>