<section class="support">
    <div class="container-fluid">
        <div class="container">
            <div class="support-1">
                <div class="support-text">
                    <h2>Sinu panus loeb</h2>
                    <h2 class="headingH"><strong>toeta algatust!</strong> </h2>
                    <p>Tänu Sinu rahalisele panusele on meil võimalik salvestada lugusid, mis rikastavad ja elavdavad Eesti kogukonda. Samuti on Sinu rahaline toetus abiks Kogu Me Lugu portaali haldamisel ja arendamisel.</p>
                    <p>Kogu Me Lugu on võimalik toetada nii ühekordse maksega kui püsikorraldusega Sihtasutuse Unitas kontole. Ühekordse makse puhul kasuta allolevaid makselinke või ülekannet SA Unitas pangakontole. Püsikorralduse saab vormistada SA Unitas pangakontole. Konto andmed on nähtaval allpool.</p>
                    <p>SA Unitas kuulub Vabariigi Valitsuse tulumaksusoodustusega ühenduste nimekirja, seega on eraisikute poolt tehtud annetuste pealt võimalik tagasi saada tulumaks. Juriidilistele isikutele on sihtasutusele tehtavad annetused samuti maksuvabad. Mõlemale kehtivad maksuvabade annetuste osas tulumaksuseadusega seatud piirangud.</p>

                    <button>Toetan</button>
                </div>
            </div>

            <div class="support-2">
                <div class="support-card">
                    <img src="/img/section-support/ev100.png" alt="">
                    <p>Löö kaasa Kogu Me Lugu Eesti Vabariik 100 kingiprojektis või toeta meid rahaliselt!</p>
                    <a href="">Loe lähemalt</a>
                </div>

                <div class="support-bank">
                    <h4>Pangakonto andmed</h4>
                    <p><Strong>EE85 1010 2200 8178 2010</Strong>  | BIC: EEUHEE2X</p>
                    <p><strong>SEB PANK: </strong>Tornimäe 2, 15010, Tallinn, Eesti</p>
                    <p><strong>Selgitus: </strong>Toetan Kogu Me Lugu</p>
                </div>
            </div>
        </div>
    </div>
</section>