<section class="detail-cont container-fluid">
    <div class="video-detail container">
        <div class="video">
            <div class="video__video">
                <iframe src="https://player.vimeo.com/video/326399728?color=3fbebc&title=0&byline=0" width="860" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>

            <div class="video__info">
                <h2>Heino Noor</h2>
                <p class="video_info--text">Heino Noor annab ülevaate oma raskest eluteest, eelkõige vanemate hukkamisest ja kaheksast aastast Siberi vangilaagris.</p>

                <div class="video__people">
                    <ul>
                        <li>Intervjueeritav <strong>Heino Noor</strong></li>
                        <li>Intervjueerija <strong>Anna Hints</strong></li>
                        <li class="noborder--list"><a href="#">Seotud tunnikava Etiam Parturient</a></li>
                    </ul>
                </div>

                <div class="video__tags">
                    <div class="video__button">
                        <button class="button__white--blue">Heino Noor</button>
                        <button class="button__white--red">Quam Cras</button>
                        <button class="button__white--purple">Euismod</button>
                        <button class="button__white--cyan">Ipsum Commodo</button>
                        <button class="button__white--orange">Parturient</button>
                        <a href="#">Näita kõiki(52)</a>
                    </div>
                </div>
            </div>

            <div class="video__map">
                <div class="openlayer-maps">
                    <div class="map-fluid container-fluid">
                        <div id="map" class="map"></div>
                    </div>
                </div>
            </div>

        </div>

        <sidebar class="video__suggestion">
            <h2 class="video__title">Seotud videod</h2>
            <div class="video__thumbnail">
                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_2.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Ruth Sootaru (Pärntits)</h2>
                        <p>Täispikk intervjuu</p>
                    </div>
                    </a>    
                </article>

                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_4.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Adam Brown</h2>
                        <p>Eesti päritolu väärtustamine</p>
                    </div>
                    </a>    
                </article>

                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_3.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Kalju Mätik</h2>
                        <p>Nõukogudeaegne vastupanuliikumine ja selle mahasurumise meetodid</p>
                    </div>
                    </a>    
                </article>

                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_2.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Ruth Sootaru (Pärntits)</h2>
                        <p>Täispikk intervjuu</p>
                    </div>
                    </a>    
                </article>

                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_4.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Adam Brown</h2>
                        <p>Eesti päritolu väärtustamine</p>
                    </div>
                    </a>    
                </article>

                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_3.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Kalju Mätik</h2>
                        <p>Nõukogudeaegne vastupanuliikumine ja selle mahasurumise meetodid</p>
                    </div>
                    </a>    
                </article>
                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_2.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Ruth Sootaru (Pärntits)</h2>
                        <p>Täispikk intervjuu</p>
                    </div>
                    </a>    
                </article>
            </div>
        </sidebar>
    </div>
</section>
