<section class="section__tab container-fluid">
    <div class="container">
        <div class="tab__container">
        <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'tab1')">Kõik</button>
            <button class="tablinks" onclick="openTab(event, 'tab2')">Intervjuud</button>
            <button class="tablinks" onclick="openTab(event, 'tab3')">Videolood</button>
            <button class="tablinks" onclick="openTab(event, 'tab4')">Dokumentaalid</button>
        </div>
        

        <div id="tab1" class="tabcontent active">
            <article class="video--cont" style="background-image: url(./img/section_video/video_half.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Heino Noor</h2>
                    <p>Täispikk intervjuu</p>
                </div>
                </a>    
            </article>

            <div class="video__small">
                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_2.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Ruth Sootaru (Pärntits)</h2>
                        <p>Täispikk intervjuu</p>
                    </div>
                    </a>    
                </article>

                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_3.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Kalju Mätik</h2>
                        <p>Nõukogudeaegne vastupanuliikumine ja selle mahasurumise meetodid</p>
                    </div>
                    </a>    
                </article>

                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_4.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Adam Brown</h2>
                        <p>Eesti päritolu väärtustamine</p>
                    </div>
                    </a>    
                </article>

                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_5.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Sander Tuul</h2>
                        <p>Videolugu </p>
                    </div>
                    </a>    
                </article>
            </div>

            <div class="break"></div>

            <article class="video--cont video--medium" style="background-image: url(./img/section_video/video_6.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Kaja Weeks</h2>
                    <p></p>
                </div>
                </a>    
            </article>

            <article class="video--cont video--medium" style="background-image: url(./img/section_video/video_7.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Sale Katrin Marits</h2>
                    <p>Täispikk intervjuu</p>
                </div>
                </a>    
            </article>

            <article class="video--cont video--medium" style="background-image: url(./img/section_video/video_8.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Viivianne Vaike Malmgren</h2>
                    <p>Usu roll küüditamise ja Siberi-aastate üleelamisel</p>
                </div>
                </a>    
            </article>

            <article class="video--cont video--medium" style="background-image: url(./img/section_video/video_9.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Regina Trubnikova</h2>
                    <p>Täispikk intervjuu</p>
                </div>
                </a>    
            </article>

            <article class="video--cont video--medium" style="background-image: url(./img/section_video/video_10.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Lisa Trei</h2>
                    <p>Täispikk intervjuu</p>
                </div>
                </a>    
            </article>

            <article class="video--cont video--medium" style="background-image: url(./img/section_video/video_11.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Siim Sööt</h2>
                    <p>Täispikk intervjuu</p>
                </div>
                </a>    
            </article>

            <article class="video--cont" style="background-image: url(./img/section_video/video_half.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Heino Noor</h2>
                    <p>Täispikk intervjuu</p>
                </div>
                </a>    
            </article>

            <div class="video__small">
                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_2.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Ruth Sootaru (Pärntits)</h2>
                        <p>Täispikk intervjuu</p>
                    </div>
                    </a>    
                </article>

                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_3.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Kalju Mätik</h2>
                        <p>Nõukogudeaegne vastupanuliikumine ja selle mahasurumise meetodid</p>
                    </div>
                    </a>    
                </article>

                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_4.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Adam Brown</h2>
                        <p>Eesti päritolu väärtustamine</p>
                    </div>
                    </a>    
                </article>

                <article class="video--cont video--small" style="background-image: url(./img/section_video/video_5.png);">
                    <a href="video_detail.php">
                    <div class="video-text">
                        <h2>Sander Tuul</h2>
                        <p>Videolugu </p>
                    </div>
                    </a>    
                </article>
            </div>

            <div class="break"></div>

            <article class="video--cont video--medium" style="background-image: url(./img/section_video/video_6.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Kaja Weeks</h2>
                    <p></p>
                </div>
                </a>    
            </article>

            <article class="video--cont video--medium" style="background-image: url(./img/section_video/video_7.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Sale Katrin Marits</h2>
                    <p>Täispikk intervjuu</p>
                </div>
                </a>    
            </article>

            <article class="video--cont video--medium" style="background-image: url(./img/section_video/video_8.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Viivianne Vaike Malmgren</h2>
                    <p>Usu roll küüditamise ja Siberi-aastate üleelamisel</p>
                </div>
                </a>    
            </article>

            <article class="video--cont video--medium" style="background-image: url(./img/section_video/video_9.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Regina Trubnikova</h2>
                    <p>Täispikk intervjuu</p>
                </div>
                </a>    
            </article>

            <article class="video--cont video--medium" style="background-image: url(./img/section_video/video_10.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Lisa Trei</h2>
                    <p>Täispikk intervjuu</p>
                </div>
                </a>    
            </article>

            <article class="video--cont video--medium" style="background-image: url(./img/section_video/video_11.png);">
                <a href="video_detail.php">
                <div class="video-text">
                    <h2>Siim Sööt</h2>
                    <p>Täispikk intervjuu</p>
                </div>
                </a>    
            </article>
            
        </div>

        <div id="tab2" class="tabcontent">
            Proov2
        </div>

        <div id="tab3" class="tabcontent">
            Proov3

        </div>

        <div id="tab4" class="tabcontent">
            Proov4

        </div>
        </div>

    </div>
</section>