footer {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    padding: 10px 0px;
    height: 150px;
    background: $color1;
    

    .container {
        background: $color1;
        

        .footer-logo {
            img {
                width: 100%;
                height: 104px;
                filter: invert(100%);
            };
        };

        .contact-info {
            padding-left: 50px;

            h2 {
                font-size: $fsize2;
                text-transform: uppercase;
                font-weight: 200;
                color: $color3;
            };

            .contact {
                a{
                    font-family: $font3;
                    font-size: $fsize1;
                    color: $color3;
                    text-decoration: none;
                    font-weight: 300;
                };
            };
        };

        .social {
            margin-left: auto;
        };
    };
};

@media screen and (max-width: 768px) {

    footer {
        .container {
            width: auto;
            overflow: hidden;
            display: flex;
            padding: 0 20px;
            
            .footer-logo {
                img {
                    width: 200px;
                    height: auto;
                }
            }

            .contact-info {
                padding-left: 40px;
            };
            
            .social {
                margin-left: auto;
                a{
                    img {
                        width: 20px;
                    }
                }
            }
        };
    };

}

@media screen and (max-width: 600px) {
    footer {
        
        .container {
            width: auto;
            overflow: hidden;
            display: flex;
            padding: 0 20px;
            justify-content: space-evenly;
            .footer-logo {
                img {
                    width: 100px;
                    height: 60px;
                }
            }

            .contact-info {
                padding-left: 10px;
                h2 { font-size: $fsize3;}

                .contact {
                
                    img {
                        width: 8px;
                    };
    
                    a {
                        font-size: 8px;
                    };
                }; 
            };
            
            .social {
                margin-left: unset;
                a{
                    img {
                        width: 20px;
                    }
                }
            }
        };
    };
};