html {
    width: 100%;
    overflow-x: hidden;
};

body {
    margin: 0;
    padding: 0;
    font-family: $font1;
    background: gray;
};

.container {
    display: flex;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
};

.container-fluid {
    width: 100%;
    margin: 0 auto;
};

.v-container {
    display: flex;
    flex-direction: column;
    height: 100%;

};

.container1 {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
};

.page-cont {
    background: $color3;
    .container {
        display: block;
        padding: 70px 0 29px 0;
        .page__heading {
            @include sectionHeading;
        }
    }
};


