.openlayer-maps {
    &::before {
        display: block;
        content: " ";
        margin-top: -140px;
        height: 140px;
        visibility: hidden;
    }

    .map-fluid{
        position: relative;

        .mapGradient {
            height: 100%;
            &::before {
                content: "";
                position: absolute;
                display: block;
                z-index: 9;
                width: 100%;
                height: 100%;
                background: rgb(255,255,255);
                background: linear-gradient(0deg, rgba(255,255,255,0.5550595238095238) 33%, rgba(255,255,255,0.927608543417367) 75%);
            };
    
            h2 {
                position: absolute;
                z-index: 10;
                top: 100px;
                margin: 0 auto;
                left: 0;
                right: 0;
                width: 1200px;
                font-weight: 300;
                text-transform: uppercase;
                color: $color1;
                font-size: $fsize5;
                font-family: $font1;
            }
        }

        .map {
            height: 400px;
            width:100%;
            border: 0px;
        }
    }
};

@media screen and (max-width: 796px) {
    .openlayer-maps {
        width: auto;

        .map-fluid {
            width: 100%;

            .mapGradient {
                h2 {
                    left: 20px;
                    font-size: $fsize14;
                }
            }

            .map {
                height: 300px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .openlayer-maps {
        width: auto;
        .map-fluid {
            width: 100%;
            height: 100%;
            .mapGradient {
                width: 100%;
               h2 {
                    left: 20px;
                    font-size: $fsize4;
               }
            }

            .map {
                width: 100%;
                height: 300px;
            }
        }
    }
}



