.about-text {
    &::before {
        display: block;
        content: " ";
        margin-top: -140px;
        height: 140px;
        visibility: hidden;
    }
        
    .container-fluid {
        background: url(../img/section_about/Image.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 100px 0;
        position: relative;

        @include gradientOverlay--blue;
        
        .container{
            flex-direction: column;
            align-items: unset;

        
            
            .headingH{
                margin-top: -30px; 
            }

            h2 {
                font-family: $font1;
                color: $color3;
                font-size: $fsize5;
                font-weight: 300;
                margin: 0;
                padding: 0;
                z-index: 10;
            };

            .text-wrap {
                max-width: 760px;
                font-family: $font3;
                font-size: $fsize1;
                z-index: 10;

                p {
                    color: $color3;
                    line-height: 25px;
                }

                #lastSent {font-size: $fsize6;}
            };
        };
    };
};

@media screen and (max-width: 600px) {
    .about-text {
        width: 100%;
        .container-fluid {
            width: auto;
            padding: 20px 0;
            .headText {
                .headingH{
                    margin-top: -20px; 
                }
                h2 {
                    font-size: 40px;
                }
            }

            .container {
                width: auto;
                .text-wrap {
                    max-width: 100%;
                    p {
                        font-size: $fsize3;
                    }

                    #lastSent {
                        font-size: $fsize1;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}