.learning {
    
    .container-fluid {
        background: url(../img/section_learning/background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 50px 0;

        .learning__container {
            display: block;
            flex-direction: column;

            @include sectionHeading;

            .learning-items {
                font-size: $fsize1;
                max-width: 760px;
                font-family: $font3;

                p {padding-bottom: 20px;};

                @include grayBtn;
            };
        };
    };
};