.contact {
    .container-fluid {
        background-color: $color2;
        padding: 50px 0;
        .container {
            display: block;
            flex-direction: column;


            @include sectionHeading;

            .contact-items {
                font-size: $fsize1;
                font-family: $font3;

                p {padding-bottom: 20px;}

                .contact-email {font-size: $fsize2;};

                img {
                    width: 30px;
                    padding-right: 10px;
                };
            };
        };
    };
};

@media screen and (max-width: 600px) {
    .contact {
        width: auto;
        .container-fluid {
            padding: 20px 0;
            width: 100%;
            .container {
                width: 90%;
                h2 {font-size: $fsize4;}

                .contact-items {
                    p {font-size: $fsize1;}

                    .contact-email {
                        font-size: $fsize1;
                        img{
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}