.section-people {
    &::before {
        display: block;
        content: " ";
        margin-top: -140px;
        height: 140px;
        visibility: hidden;
    }
    .container-fluid {
        background: #F7F7F7;
        padding: 50px 0;

        .container {
            display: block;
            flex-direction: column;

            .tegijad-title {
                font-family: $font1;
                font-weight: 300;
                text-transform: uppercase;
                color: $color1;
                font-size: $fsize5;
                margin: 0;
                padding-bottom: 30px;
            };

            @include cardContainer;
            @include modal;
        };
    };
};