.section-people {
    &::before {
        display: block;
        content: " ";
        margin-top: -140px;
        height: 140px;
        visibility: hidden;
    }
    .container-fluid {
        background: #F7F7F7;
        padding: 50px 0;

        .container {
            display: block;
            flex-direction: column;

            .tegijad-title {
                font-family: $font1;
                font-weight: 300;
                text-transform: uppercase;
                color: $color1;
                font-size: $fsize5;
                margin: 0;
                padding-bottom: 30px;
            };

            @include cardContainer;
            @include modal;
        };
    };
};

@media screen and (max-width: 796px) {
    .section-people {
        .container-fluid{
            width: auto;
            padding: 20px 0; 
            .container {
                width: 90%;
                .tegijad-title {font-size: $fsize4;}

                .card__container {
                    margin: 0 auto;
                    justify-content: center;
                    width: 90%;

                    .card {
                        width: auto;
                    }
                }

                .modal {
                    width: 100%;

                    .modal__container {
                        width: 80%;
                        
                        .modal__heading {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .modal__image {
                                img {
                                    width: 100%
                                }
                            }

                            .modal__content {
                                text-align: center;
                                h2 {font-size: $fsize14;}

                                .modal__body {
                                    .modal__contact {
                                        flex-direction: row;
                                        justify-content: space-evenly;
                                        
                                        p {
                                            font-size: $fsize3;

                                            img {width: 10px}
                                        }
                                    }

                                    .modal__info {
                                        display: inherit;
                                        .modal__text {
                                            p {font-size: $fsize3;}
                                        }
                                    }
                                }
                            }    
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 996px){
    .section-people {
        .container-fluid {
            width: 100%;

            .container {
                width: 100%;

                .tegijad-title {font-size: $fsize14;}

            
                .modal {
                    width: 100%;

                    .modal__container {
                        width: 70%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .section-people {
        .container-fluid{
            width: auto;
            padding: 20px 0; 
            .container {
                width: 90%;
                .tegijad-title {font-size: $fsize4;}

                .card__container {
                    margin: 0 auto;
                    justify-content: center;
                    width: 90%;

                    .card {
                        width: auto;
                    }
                }

                

                .modal {
                    width: 100%;

                    .modal__container {
                        width: 70%;
                        
                        .modal__heading {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .modal__image {
                                width: 100px;
                                margin-right: 0;
                            }

                            .modal__content {
                                text-align: center;
                                h2 {font-size: $fsize4;}

                                .modal__body {
                                    .modal__contact {
                                        flex-direction: column;
                                        align-items: flex-start;
                                        p {
                                            font-size: $fsize3;

                                            img {width: 10px}
                                        }
                                    }

                                    .modal__info {
                                        display: none;
                                    }
                                }
                            }   
                        }
                    }
                }
            }
        }
    }
}