.learning {
    &::before {
        display: block;
        content: " ";
        margin-top: -140px;
        height: 140px;
        visibility: hidden;
    }
    
    .container-fluid {
        background: url(../img/section_learning/background.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 0;

        .learning__container {
            display: block;
            flex-direction: column;

            @include sectionHeading;

            .learning-items {
                font-size: $fsize1;
                max-width: 760px;
                font-family: $font3;

                p {padding-bottom: 20px;};

                @include grayBtn;
            };
        };
    };
};

@media screen and (max-width: 600px) {
    .learning {
        .container-fluid {
            padding: 0;
            width: auto;
            
            .learning__container {
                padding: 20px 0;    
                width: 90%;
                margin: 0 auto;
                h2 {font-size: $fsize4;}

                .learning-items {
                    p {
                        font-size: $fsize1;
                    }
                }
            }
        }
    }
}