.section__tab {
    .container {
        .tab__container {
            .tags--boxed-list {
                li {
                    position: relative;
                    list-style-type: none;

                    div{
                        padding: 10px 0;
                        a {
                            text-decoration: none;
                            color: $color1;
                            font-family: $font3;
                            background: $color3;
                            margin: 0;
                            padding: 0 10px;
                            display: inline-flex;
                            border: 3px solid $color8;
                            border-radius: 5px;

                            .fa-chevron-right {
                                color: $color8;
                            }
                        
                            h2, h3, h4, h5, h6 {
                                font-weight: 400;
                                margin: 5px;
                            }

                            h2 {
                                font-size: $fsize15;
                            };

                            h3 {
                                font-size: $fsize9;
                            };

                            h4 {
                                font-size: $fsize6;
                            };

                            h5 {
                                font-size: $fsize2;
                            }

                            h6 {
                                font-size: $fsize8;
                            }

                            
                            }

                            
                        
                    };

                    .no--line {
                        &::before {
                            display: none;
                        }

                        &::after{
                            display: none;
                        }
                    };

                    .line--horisontal {
                        position: relative;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            margin-top: 0px;
                            height: 2px;
                            background: $color4;
                            left: -18px;
                            width: 20px;
                        } 
                    }

                    .line--vertical {
                        &::after {
                            content: "";
                            position: absolute;
                            top: -14%;
                            margin-top: 0px;
                            height: 74px;
                            background: $color4;
                            left: -20px;
                            width: 2px;
                        } 
                    }

                    .line--last {
                        &::after {
                            content: "";
                            position: absolute;
                            top: -14%;
                            margin-top: 0px;
                            height: 47px;
                            background: $color4;
                            left: -20px;
                            width: 2px;
                        }
                    }

                    .line--last-one {
                        &::after {
                            content: "";
                            position: absolute;
                            top: -14%;
                            margin-top: 0px;
                            height: 49px;
                            background: $color4;
                            left: -20px;
                            width: 2px;
                        }
                    }

                    .line--last-two {
                        &::after {
                            content: "";
                            position: absolute;
                            top: -10%;
                            margin-top: 0px;
                            height: 40px;
                            background: $color4;
                            left: -20px;
                            width: 2px;
                        }
                    }

                    .line--vertical-history-first {
                        &::after {
                            content: "";
                            position: absolute;
                            top: -15%;
                            margin-top: 0px;
                            bottom: 0;
                            height: 50px;
                            background: #EE6C4D;
                            left: -20px;
                            width: 2px;
                        } 
                    }

                    .line--vertical-history-second {
                        &::after {
                            content: "";
                            position: absolute;
                            top: -15%;
                            margin-top: 0px;
                            bottom: 0;
                            height: 47px;
                            background: #EE6C4D;
                            left: -20px;
                            width: 2px;
                        } 
                    }

                    .line--vertical-history-third {
                        &::after {
                            content: "";
                            position: absolute;
                            top: -15%;
                            margin-top: 0px;
                            bottom: 0;
                            height: 42px;
                            background: #EE6C4D;
                            left: -20px;
                            width: 2px;
                        } 
                    }

                    .line--vertical-history-last {
                        &::after {
                            content: "";
                            position: absolute;
                            top: -15%;
                            margin-top: 0px;
                            bottom: 0;
                            height: 40px;
                            background: #EE6C4D;
                            left: -20px;
                            width: 2px;
                        } 
                    }
                };
            };
        };
    };
};

