@import './searchbar';

@include pageHeader;

.page-cont {
    .container{
        padding-bottom: 0;

        .page__heading  {
            h2 {
                padding-bottom: 0;
            }; 
        };
    };
};

.tabcontent {
    .container {
        display: block;

        .tags--button {
            font-family: $font1;
            text-transform: uppercase;
            color: $color1;
            padding-left: 20px;
            margin-right: 20px;
           

            h2 {
                font-size: $fsize12;
                margin: 10px 0;
                font-weight: 300;
            }
                
            li { 
                list-style-type: none;
                border-left: 10px solid $color13;

                div {
                    padding-left: 20px;
                    
                    h3{
                        font-size: $fsize4;
                        font-weight: 300;
                        margin: 10px 0;
                    }

                    h4{
                        font-size: $fsize2;
                        font-weight: 300;
                        margin: 10px 0;
                    }

                    h5{
                        font-size: $fsize8;
                        font-weight: 400;
                        margin: 10px 0;
                    }

                    h6{
                        font-size: $fsize3;
                        font-weight: 400;
                        margin: 10px 0;
                    };
                };
            };
        };
    };
};
