$color1: #242B45;
$color2: #3FBEBC;
$color3: #ffffff;
$color4: #EE6C4D;
$color5: #3B5998;
$color6: #1DA1F2;
$color7: #35465C;
$color8: #EF6F6C;
$color9: #6564DB;
$color10: #FF8C42;

$font1: 'Oswald', 'Oswald', sans-serif;
$font2: 'Work Sans', sans-serif;
$font3: 'Open Sans', sans-serif;

$fsize1: 14px;
$fsize2: 20px;
$fsize3: 12px;
$fsize4: 30px;
$fsize5: 60px;
$fsize6: 24px;
$fsize7: 18px;
$fsize8: 16px;
$fsize9: 28px;
$fsize10: 11px;
$fsize11: 100px;
$fsize12: 50px;
$fsize13: 11px;
$fsize14: 40px;