.searchbar {
    background: $color1;
    padding: 10px;

    .container {
        justify-content: center;
        align-content: center;

        input {
            width: 1050px;
            height: 20px;
            padding: 10px;
            border: 0;
            border-radius: 20px;
            margin-right: 5px;
            font-size: $font1;
           
        }

        @include greenBtn;
        button {
            font-size: $fsize2;
            width: 100px;
            height: 40px;
            margin-left: 5px;
        }
    }
}